<h1 class="text-3xl text-center font-bold ">Home</h1>

<br>

<div class="text-center flex flex-col">
  <div>
    <%= link_to icon('fa-solid', 'angles-left'), path_with_params(articles_path, { page: 1 }) %>
    <%= link_to icon('fa-solid', 'chevron-left'), path_with_params(articles_path, { page: @page > 1 ? @page - 1 : @page }) %>
    <% 1.upto @page_count do |page| %>
      <%= link_to page, path_with_params(articles_path, { page: page }) %>
    <% end %>
    <%= link_to icon('fa-solid', 'chevron-right'), path_with_params(articles_path, { page: @page < @page_count ? @page + 1 : @page_count }) %>
    <%= link_to icon('fa-solid', 'angles-right'), path_with_params(articles_path, { page: @page_count }) %>
  </div>
  <div>
    <%= select(:article, :page, [*PaginationHelper::ITEMS_PER_PAGE]) %>
  </div>
</div>

<table class="text-center">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title, article_path(article), class: 'text-sky-400' %></td>
        <td><%= article.body %></td>
        <td>
          <%= link_to "Edit", edit_article_path(article) %>
        </td>
        <td>
          <%= button_to "Delete", article_path(article), method: 'delete', form: { data: { turbo_confirm: 'Are you sure?' } } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>